/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-behavior: smooth;
}

/* Top Bar Styling */
.top-bar {
    background-color: #2d6788; /* Dark blue background */
    text-align: center; /* Center-align the text */
    padding: 5px 0; /* Adjusted padding */
    font-size: 0.8rem; /* Smaller font size */
    line-height: 1; /* Tight line spacing */
    width: 100%; /* Full width */
    position: fixed; /* Sticks at the top */
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    height: 30px; /* Fixed height */
}

.top-bar-link {
    color: #faf5ea; /* White text */
    text-decoration: none; /* Remove underline */
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px; /* Vertically center-align text */
}

.top-bar-link:hover {
    text-decoration: underline;
    color: #dddddd; /* Lighter hover effect */
}
.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the current text color */
    display: inline-block; /* Ensure the link surrounds the content */
}
/* Header Styling */
header {
    position: fixed;
    top: 30px; /* Offset for top bar */
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #faf5ea;
    color: #2d6788;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    margin: 0;
}

header h1 {
    display: inline-flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 0;
}

header h1 .icon {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

header p {
    margin: 0;
    padding-top: 5px;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #2d6788;
}

/* Navigation Styling */
header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #2d6788;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #01273d;
}

/* Book a Therapist Button */
.btn-book {
    padding: 10px 20px;
    background-color: #2d6788;
    color: #faf5ea;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 25px;
}

.btn-book:hover {
    background-color: #48669a;
    transform: scale(1.05);
}


/* Background Container */
#background-container {
    background-image: url('../images/Depth.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; /* Allow scrolling */

}





/* Surface Section */
#surface {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    /* justify-content: center;  Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative;
    text-align: center; /* Center-align text */
    color: #faf5ea; /* Text color */
}

#surface h1 {
    font-size: 1.5rem; /* Adjusted for better emphasis */
    margin: 300px 0 0px; /* Spacing above and below */
    font-family: 'Dancing Script', cursive;
    color: #2d6788;
}


/* Style for H1 */
#surface h2 {
    margin: 0;
    font-size: 5rem; /* Increase font size for H1 */
    line-height: 1.2; /* Adjust line spacing for H1 */
    color: #2d6788; /* Ensure text color is applied */
}

/* Style for Paragraphs */
#surface p {
    font-size: 1.5rem; /* Adjust font size for paragraphs */
    margin: 10px 0 0; /* Add vertical spacing between lines */
    color: #2d6788; /* Ensure text color is applied */
    line-height: 1.5; /* Adjust line spacing for readability */
}
#surface .spaced {
    margin-top: 100px; /* Adjust the spacing as needed */
}






/* Therapy Links Section */
.therapy-links {
    display: flex; /* Align images horizontally */
    justify-content: space-between; /* Space between links */
    align-items: center; /* Center align items vertically */
    gap: 20px; /* Add space between each link */
    margin: 20px 0; /* Add spacing around the section */
}

/* Therapy Link Styling */
.therapy-link {
    text-decoration: none; /* Remove underline from links */
}

/* Therapy Image Container */
.therapy-image-container {
    position: relative; /* Enables positioning for overlay text */
    width: 300px; /* Fixed width for the container */
    height: 250px; /* Fixed height for the container */
    overflow: hidden; /* Prevent content spilling outside the container */
    border-radius: 10px; /* Rounded corners for images */
}

.therapy-image {
    width: 100%; /* Ensure the image fits the container */
    height: 100%; /* Ensure the image fits the container */
    object-fit: cover; /* Maintain the aspect ratio while filling the container */
    opacity: 0.7; /* Slight translucency */
}

/* Text Inside Image */
#surface .therapy-text {
    position: absolute; /* Overlay text on the image */
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Correct alignment for absolute centering */
    color: #ffffff; /* White text for contrast */
    font-size: 1.5rem; /* Adjust font size */
    font-weight: bold; /* Bold text for emphasis */
    text-align: center; /* Center-align the text */
    z-index: 2; /* Ensure text is above the image */
}





#surface .therapy-texts {
    position: absolute; /* Overlay text on the image */
    top: 52%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Correct alignment for absolute centering */
    color: #ffffff; /* White text for contrast */
    font-size: 1.2rem; /* Adjust font size */
    font-weight: bold; /* Bold text for emphasis */
    text-align: center; /* Center-align the text */
    z-index: 2; /* Ensure text is above the image */
}
















/* Therapy Boxes Container */
.therapy-boxes {
    display: flex;
    justify-content: center; /* Center the boxes horizontally */
    align-items: flex-start; /* Align items at the top */
    gap: 20px; /* Space between the boxes */
    margin-top: 30px; /* Add spacing between the text and boxes */
    margin-top: 30px;
}

/* Individual Therapy Box */
.box {
    flex: 1; /* Equal width for all boxes */
    width: 200px; /* Limit the maximum width */
    height: 150px; /* Set a fixed height for uniformity */
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd; /* Subtle border for separation */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
    background-size: cover; /* Ensure the pattern covers the entire box */
    background-blend-mode: overlay; /* Blend pattern with background color */
    color: #ffffff; /* Text stays visible */
}

/* Hover Effect for Boxes */
.box:hover {
    transform: translateY(-10px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Individual Box Colors */
.box-individual {
    text-decoration: none;
    background-color: #a7bed3; /* Blue for Individual Psychotherapy */
    border-color: #93b5d4;
}

.box-couple {
    text-decoration: none;
    background-color: #D6CBBF; /* Green for Family Therapy */
    border-color: #e2c7a9;
}

.box-child {
    text-decoration: none;
    background-color: #E9E2EE; /* Pink for Teen Therapy */
    border-color: #dfc6f0;
}

/* Title Styling Inside Boxes */
.box h3 {
    font-size: 1.5rem; /* Adjust font size for title */
    margin: 0 0 5px;
    color: #ffffff; /* White title color */
}

/* Description Styling Inside Boxes */
#surface .box p {
    font-size: 1rem; /* Smaller font size for description */
    line-height: 1.1;
    margin: 0;
    color: #ffffff; /* Light gray for better readability */
}

#surface .large-box {
    width: 100%; /* Span the majority of the width */
    margin: 100px auto 80px; /* Center the box and add space above */
    padding: 20px; /* Inner spacing */
    background-color: rgba(224, 224, 213, 0.4); /* Beige with slight transparency */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center-align main text */
    font-size: 1.2rem; /* Adjust font size */
    color: #333; /* Text color for readability */
}

/* Styling for the icon section */
.icon-section {
    display: flex; /* Flexbox for side-by-side layout */
    justify-content: space-between; /* Space out the icons evenly */
    align-items: center; /* Vertically align content */
    margin-top: 20px; /* Add space between the paragraph and icons */
}

/* Styling for each icon box */
.icon-box {
    text-align: center; /* Center the icon and text inside each box */
    width: 30%; /* Ensure each icon box takes an equal width */
}

/* Styling for icons */
#surface .icon-box .icon {
    width: 100px; /* Set a fixed size for icons */
    height: 100px; /* Maintain aspect ratio */
    margin-bottom: 5px; /* Space between the icon and the text */
}

/* Styling for the titles under icons */
.icon-box h4 {
    font-size: 1.2rem; /* Title font size */
    margin-bottom: 5px; /* Space below the title */
    color: #333; /* Match the text color */
}

/* Styling for the text under icons */
#surface .icon-box p {
    font-size: 1rem; /* Smaller font size for descriptions */
    line-height: 1.5; /* Improve readability */
    color: #666; /* Slightly lighter color for secondary text */
    margin-bottom: 30px;
}
/* Style for Paragraphs */


#midwater, #deepwater {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: flex-start;
    padding: 0;
    position: relative;
    color: #faf5ea;
    z-index: 2;
    overflow: hidden; /* Ensure bubbles don't overflow outside the section */
}




#midwater .content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    width: 100%; /* Span full width */
    padding: 0 10%; /* Padding to create space on left and right */
    box-sizing: border-box; /* Include padding in width calculation */
}

#midwater .AreaOfFocus-box h2 {
    font-size: 3rem; /* Larger font size for title */
    font-weight: bold;
    margin-bottom: 70px; /* Add space below the title */
    text-align: center; /* Ensure title is left-aligned */
}


#midwater .box {
    flex: 1; /* Equal width for all boxes */
    width: 200px; /* Limit the maximum width */
    height: 150px; /* Set a fixed height for uniformity */
    text-align: center; /* Center the text inside the box */
    padding: 20px;
    border: 1px solid #ddd; /* Subtle border for separation */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
    background-size: cover; /* Ensure the pattern covers the entire box */
    background-blend-mode: overlay; /* Blend pattern with background color */
    color: #ffffff; /* Text stays visible */
}



#midwater .AreaOfFocus-box {
    width: 88%; /* Span the majority of the width */
    margin: 200px auto; /* Center the box and add space above */
    padding: 20px; /* Inner spacing */
    background-color: rgba(250, 245, 234, 0.75); /* Beige with slight transparency */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center-align main text */
    font-size: 1.2rem; /* Adjust font size */
    color: #333; /* Text color for readability */
}

/* Styling for the icon section */
#midwater .AOF-section {
    display: flex;
    justify-content: space-between; /* Equal spacing between boxes */
    align-items: flex-start; /* Align all boxes to the top of the row */
    margin: 50px 0; /* Add space above and below each row */
    gap: 20px; /* Add space between icons in the same row */
}



/* Styling for each icon box */
#midwater .AOF-box {
    text-align: center; /* Center the icon and text inside each box */
    width: 30%; /* Equal width for all boxes */
    min-height: 200px; /* Set a minimum height to align content vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between icon, title, and description */
    align-items: center; /* Center align content */
}


/* Styling for icons */
#midwater .AOF-box .icon {
    width: 100px; /* Set a fixed size for icons */
    height: 100px; /* Maintain aspect ratio */
    margin-bottom: 5px; /* Space between the icon and the text */
}

/* Styling for the titles under icons */
#midwater .AOF-box h4 {
    font-size: 1.2rem; /* Consistent title font size */
    margin: 10px 0; /* Add spacing between title and icon */
    text-align: center; /* Center the titles */
}

/* Styling for the text under icons */
#midwater .AOF-box p {
    font-size: 1rem; /* Consistent description font size */
    margin: 0; /* Remove extra margins */
    padding: 0; /* Remove extra padding */
    text-align: center; /* Center-align text */
    max-width: 80%; /* Restrict text width for better alignment */
}









/* Bubble Container Specific to Midwater and Deepwater */
.bubbles {
    position: absolute;
    top: 0;
    right: 0; /* Align to the right margin */
    width: 20%; /* Restrict bubbles to the right margin */
    height: 100%; /* Cover the full height of the section */
    overflow: hidden; /* Prevent bubbles from escaping */
    z-index: 1; /* Ensure bubbles are behind the content */
}

.bubbles span {
    position: absolute;
    bottom: -150px; /* Start below the container */
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* White with transparency */
    border-radius: 50%; /* Circular bubbles */
    animation: float 10s infinite; /* Apply float animation */
    opacity: 0.7; /* Slight transparency */
}

/* Customize individual bubble size and position */
.bubbles span:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 10%;
    animation-duration: 12s;
}

.bubbles span:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 20%;
    animation-duration: 15s;
    animation-delay: 2s;
}

.bubbles span:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 10s;
    animation-delay: 4s;
}

.bubbles span:nth-child(4) {
    width: 25px;
    height: 25px;
    left: 70%;
    animation-duration: 18s;
    animation-delay: 1s;
}

.bubbles span:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 90%;
    animation-duration: 13s;
    animation-delay: 3s;
}

.bubbles span:nth-child(6) {
    width: 25px;
    height: 25px;
    left: 15%;
    animation-duration: 14s;
    animation-delay: 5s;
}

.bubbles span:nth-child(7) {
    width: 15px;
    height: 15px;
    left: 35%;
    animation-duration: 11s;
    animation-delay: 2s;
}

.bubbles span:nth-child(8) {
    width: 20px;
    height: 20px;
    left: 60%;
    animation-duration: 16s;
    animation-delay: 6s;
}

/* Bubble Floating Animation */
@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh); /* Move upward out of view */
        opacity: 0;
    }
}


/* Title Styling */

/* Expandable Services Section */
/* Title Styling */
#deepwater h2 {
    font-size: 3rem; /* Larger font size for title */
    font-weight: bold;
    margin-bottom: 20px; /* Add space below the title */
    text-align: center; /* Ensure title is left-aligned */
}
/* Expandable Services Section */


/* Paragraph Styling */
#midwater p, #deepwater p {
    font-size: 1.2rem; /* Adjust paragraph font size */
    line-height: 1.6; /* Improve readability with line spacing */
    max-width: 50%; /* Restrict paragraph width to 60% of the container */
    text-align: center; /* Ensure paragraph text is left-aligned */
    margin: 0 0 20px; /* Remove default margins */
    padding: 0; /* No additional padding for paragraph */
}

#services {
    margin-top: 50px; /* Space above the services section */
    width: 50%; /* Ensure full width within the container */
    padding: 0 ; /* Add padding on left and right for alignment */
    box-sizing: border-box; /* Include padding in width calculation */
}

.service-item {
    border-top: 1px solid #ddd; /* Line between sections */
    padding: 15px 0; /* Add vertical spacing */
}

.service-header {
    display: flex;
    justify-content: space-between; /* Space between title and "+" sign */
    cursor: pointer;
    font-size: 1.2rem; /* Adjust font size */
    font-weight: bold;
    color: #2d6788; /* White text */
}

.service-header:hover {
    color: #20638a; /* Lighter hover effect */
}

.service-details {
    display: none; /* Initially hidden */
    margin-top: 25px; /* Add space between header and details */
    padding-left: 40px; /* Indent from the left */
    font-size: 1rem; /* Smaller font for details */
    line-height: 1.4; /* Improve readability */
    color: #2d6788; /* White text */
    max-width: 100%; /* Ensure it spans the full width of the parent container */
    word-wrap: break-word; /* Wrap long text */
}
#midwater p2 {
    font-size: 1rem; /* Adjust paragraph font size */
    line-height: 1.4; /* Improve readability with line spacing */
    max-width: 100%; /* Restrict paragraph width to 60% of the container */
    text-align: left; /* Ensure paragraph text is left-aligned */
    margin: 0 0 20px; /* Remove default margins */
    
}





/* FAQ Section */
#faq {
    width: 800px; /* Keep the max width for the content */
    margin: 50px 0; /* Adjust vertical margin */
    padding: 20px; /* Add some padding inside the section */
    background-color: #faf5ea; /* New background color for the entire section */
    color: #2d6788;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Align content to the left */
}
/* Position FAQ to the left side */
.faq-container {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start; /* Optional: Align items to the top */
    background-color: #faf5ea; /* Background color for the container */
    padding: 20px; /* Add spacing around the section */
}

#faq h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #2d6788;
}

.faq-question {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #faf5ea;
    color: #2d6788;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #faf5ea;
}

.faq-answer {
    display: none;
    padding: 10px 15px;
    background-color: #faf5ea;
    border: 1px solid #faf5ea;
    border-radius: 5px;
    margin-top: 5px;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2d6788;
    color: #faf5ea;
}
